<div class="container">
  <h1>Astronomy Picture of the Day</h1>

  <p-card
    class="w-50"
    *ngIf="dataService.getApod$ | async as apod"
    style="text-align: center"
  >
    <ng-template pTemplate="header">
      <h2>{{ apod.title }}</h2>
    </ng-template>
    <p-image
      *ngIf="apod.url"
      [src]="apod.url"
      [alt]="apod.title"
      width="350"
      [preview]="true"
    ></p-image>
    <p>{{ apod.explanation }}</p>
    <ng-template pTemplate="footer" *ngIf="apod.copyright"
      >&copy; {{ apod.copyright }}</ng-template
    >
  </p-card>

  <footer></footer>
</div>
